$desktop-break-point: 1400px;
$tablet-break-point: 960px;
$mobile-break-point: 400px;

$blue: #39acdc;
$red: #ec3646;
$white: #fff;
$black: #000;
$gray: #ddd;
$transparent-Gray: #aaaaaa77;

$border-color: #ccc;
$background-color: #eee;

$button-font-size: 14px;
$label-font-size: 12px;
$header-font-size: 18px;
$large-font-size: 24px;
$small-font-size: 10px;

$small-size: 5px;
$medium-size: 10px;
$large-size: 15px;
$extra-large-size: 20px;

$border-radius: 5px;
